@charset "UTF-8";

ul {
  margin-top: 0;
}

p {
  margin: 0;
}

p + p + p {
  margin-top: 20px;
}

label {
  color: #fff;
}

.flex {
  display: flex;
  gap: 10px;
}

.color-red {
  color: red;
}

.text--s {
  font-size: 10px;
}

.btn {
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.btn--default:hover {
  background-color: #fff;
  opacity: 1;
}

.btn--show {
  margin: 20px 0 0 0;
}

.btn--plus {
  background-color: lightgreen;
}

.btn--minus {
  background-color: pink;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 1s;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}

.ss {
  object-fit: cover;
}

.img-outer {
  position: relative;
  max-width: 1000px;
  max-width: 1000px;
  overflow: hidden;
}

.slider {
  position: absolute;
  top: 10px;
  left: 10px;
}
