@charset "UTF-8";
html{
  font-size: 100%;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

p + p + p {
  margin-top: 20px;
}

.sec {
  margin: 36px 0;
}

.sec-ttl {
  margin-bottom: 0;
  padding-left: 10px;
  border-left: 5px solid orange;
}

.sub-ttl {
  margin-bottom: 0;
  position: relative;
}

.sub-ttl::before {
  content: '・';
}

.slider > label {
  color: #fff;
}

.flex {
  display: flex;
  gap: 10px;
}

.color-red {
  color: red;
}

.text--s {
  font-size: 10px;
}

.btn {
  display: block;
  padding: 10px 20px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.btn--default:hover {
  background-color: #fff;
  opacity: 1;
}

.btn--show {
  margin: 20px 0 0 0;
}

.btn--plus {
  background-color: lightgreen;
}

.btn--minus {
  background-color: pink;
}

.btn--remove { 
  display: inline-block;
  padding: 5px 10px;

  margin-left: auto;

  color: darkred;
}

.yabai > .btn--remove {
  -webkit-text-fill-color: initial;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 1s;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}

.ss {
  object-fit: cover;
}

.img-outer {
  position: relative;
  max-width: 1000px;
  max-width: 1000px;
  overflow: hidden;
}

.slider {
  position: absolute;
  top: 10px;
  left: 10px;
}

.tuyoi{
  color: red;
}

.tyotuyoi{
  color: purple;
}

.yabai{
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add-form {
  align-items: center;
  margin-bottom: 10px;
}

.monster-list{
  padding: 0;
}

.monster-list__item {
  width: 100%;
  max-width: 520px;
  padding: 10px 0;
  border-bottom: 1px solid #000;
  align-items: center;
}

@media screen and (max-width: 468px) {
  ul {
    margin: 0;
    padding: 0;
  }
  .btn--plus,
  .btn--minus{
    width: 35%;
  }

  .btn--reset {
    flex: 1;
  }

  .monster-list {
    width: 100%;
  }

  .add-form{
    flex-direction: column;
    align-items: start;
  }

  .btn--add{
    width: 50%;
  }
}